body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    background: #000000;
    padding: 5px 0;
    text-align: center;
    display: flex;
}

.redstone-gradient-enhanced {
    background: linear-gradient(
        to right,
        #ff0000 0%,
        #c40000 15%,
        #b10000 30%,
        #850000 40%,
        #8b5cf6 50%,
        #7c3aed 60%,
        #3b82f6 70%,
        #2563eb 85%,
        #1d4ed8 100%
    )
}

.header-title {
    background: linear-gradient(
        to right,
        #ff0000 0%,
        #d00000 15%,
        #a3005c 30%,
        #8b00a3 50%,
        #5c00d0 70%,
        #2563eb 85%,
        #1d4ed8 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}

.nav-button {
    background: #a00000;
    color: #000000;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 24px;
    font-family: 'Apple', sans-serif;
    text-align: right;
    justify-content: center;
}

nav {
    margin: 20px 0;
    text-align: left;
    justify-content: left;
    padding: 5px 35px;
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}